<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wagona Maths<%= typeof title !== 'undefined' ? ' - ' + title : '' %></title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="Material Console">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/main.bundle.css">
  </head>
  <body id="page-top" class="landing-page">
    <script>
      var __ejs_page = '<%= page %>';
      var __ejs_layout = '<%= typeof pageLayout !== 'undefined' ? pageLayout : "" %>';
      var __ejs_isLoggedIn = <%= isLoggedIn %>;
      <% if (typeof user !== 'undefined') { %>
      var __ejs_user = <%- JSON.stringify(user) %>;
      <% } %>
      <% if (typeof account !== 'undefined') { %>
      var __ejs_account = <%- JSON.stringify(account) %>;
      <% } %>
      <% if (typeof pricing !== 'undefined') { %>
      var __ejs_pricing = <%- JSON.stringify(pricing) %>;
      <% } %>
      <% if (typeof test !== 'undefined') { %>
      var __ejs_test = <%- JSON.stringify(test) %>;
      <% } %>
    </script>
    <div id="root"></div>
    <script src="/vendor.bundle.js"></script>
    <script src="/main.bundle.js"></script>
  </body>
</html>