$primary-color: #319208;
$secondary-color: #b02115;
$text-color: #333;
$border-color: #e7eaec;
$white-color: #fff;
$brag-b-color: #434343;
$brag-r-color: #b50f1e;
$brag-a-color: #ffd200;
$brag-g-color: $primary-color;
$score-green-color: $primary-color;
$score-red-color: $secondary-color;
$score-amber-color: #ff7e00;
$score-black-color: $text-color;
$dir-public: './../../public/';
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;

*:not(.slick-track):not(.slick-list) {
  transition: all 0.5s ease;
}

body.landing-page {
  background: url($dir-public + 'main/bg.png') repeat-x scroll 0 top $white-color;
  background-size: 3px;
  position: relative;

  &.loading {
    overflow: hidden;
  }

  hr {
    border-top: 1px solid lighten($text-color, 50%);
  }
}

.wg_main_wrapper {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-primary-color {
    color: $primary-color;
  }

  .bg-primary-color,
  .bg-green-color {
    background: $primary-color !important;
    color: $white-color;
  }

  .bg-secondary-color,
  .bg-red-color {
    background: $secondary-color !important;
    color: $white-color;
  }

  .bg-amber-color {
    background: $score-amber-color !important;
    color: $white-color;
  }

  .bg-black-color {
    background: $score-black-color !important;
    color: $white-color;
  }

  .text-secondary-color {
    color: $secondary-color;
  }

  .btn-normalize {
    padding: 6px 12px;
    font-weight: normal;
  }

  .btn-primary-color {
    background: $primary-color;
    color: $white-color;

    &:hover {
      color: $white-color;
      border-radius: 50px;
    }
  }

  .panel-primary-color {
    border-color: $primary-color;

    & > .panel-heading {
      color: $white-color;
      background: $primary-color;
      border-color: $primary-color;
    }
  }

  .btn-secondary-color {
    background: $secondary-color;
    color: $white-color;

    &:hover {
      color: $white-color;
      border-radius: 50px;
    }
  }

  .wg_main_container {
    margin-top: 12px;

    @media (min-width: $media-sm) {
      margin-top: 15px;
    }

    @media (min-width: $media-md) {
      margin-top: 20px;
    }

    @media (min-width: $media-lg) {
      margin-top: 20px;
    }
  }

  // LOADER
  .wg_loader {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background: rgba(#000, 0.3);
    background-size: cover;
    z-index: 1;
  }

  .sk-spinner-double-bounce.sk-spinner {
    width: 50px;
    height: 50px;
  }

  .sk-spinner-double-bounce .sk-double-bounce1 {
    background-color: $primary-color;
  }

  .sk-spinner-double-bounce .sk-double-bounce2 {
    background-color: $secondary-color;
  }
  
  // NAVBAR
  .wg_nav_wrapper {
    min-height: 50px;

    nav.navbar {
      border-radius: 0;

      &.affix {
        top: 0;
        left: 0;
        width: 100%;
        background: $white-color;
        border-bottom: 1px solid $border-color;
        z-index: 1;

        .nav > li > a {
          margin: 0;
          padding: 10px 10px;
          color: $text-color;

          @media (min-width: $media-sm) {
            margin: 13px 0;
            padding: 5px;
            font-size: 11px;
          }

          @media (min-width: $media-md) {
            margin: 17px 0;
            padding: 10px;
            font-size: 11px;
          }

          @media (min-width: $media-lg) {
            margin: 20px 0;
            padding: 10px;
            font-size: 13px;
          }
        }
      }

      .navbar-header .navbar-toggle {
        padding: 4px 10px;
        background: $primary-color;
      }

      .navbar-brand {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: center;

        img.wg_navbar_logo {
          height: 100%;
        }
      }

      .nav > li > a {
        margin: 0;
        padding: 10px 10px;
        color: $text-color;

        @media (min-width: $media-sm) {
          margin: 25px 0;
          padding: 5px;
          font-size: 11px;
        }

        @media (min-width: $media-md) {
          margin: 33px 0;
          padding: 10px;
          font-size: 11px;
        }

        @media (min-width: $media-lg) {
          margin: 40px 0;
          padding: 10px;
          font-size: 13px;
        }

        &:hover,
        &:focus {
          background: none;
          color: $secondary-color;
        }
      }

      .navbar-nav {
        margin: 7.5px 0;

        @media (min-width: $media-sm) {
          margin: 0;
        }
      }

      .wg_navbar_logo_mobile {
        height: 50px;
        position: absolute;
        top: 0;
        padding: 5px 0;

        img.wg_navbar_logo {
          display: block;
          height: 100%;
        }
      }

      .wg_navbar_collapse_mobile {
        background: $white-color;
      }
    }
  }
  
  // ACCOUNT NAVBAR
  .wg_account_navbar {
    background: darken($white-color, 10%);
    border-radius: 10px;

    ul.nav > li {
      a {
        padding: 15px 10px;
        border-top: 0;
      }

      .wg_account_title {
        color: $primary-color;
        font-size: 20px;
        font-weight: 600;
        line-height: 100%;
        display: block;
        padding: 15px 10px;
      }
    }
  }

  // LOGIN FORM
  .wg_login_form {
    a:not(.btn) {
      color: $primary-color;

      &:hover,
      &:focus {
        color: $secondary-color;
      }
    }
  }

  // IBOX
  .wg_ibox {
    margin: 0;
    padding: 0;

    .ibox-content {
      border: none;
      padding: 0;
      min-height: 300px;

      &.sk-loading {
        position: relative;

        &:after {
          content: '';
          background-color: rgba(#fff, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        & > .sk-spinner {
          display: block;
          position: absolute;
          top: 40%;
          left: 0;
          right: 0;
          z-index: 2000;
        }
      }

      & > .sk-spinner {
        display: none;
      }
    }
  }

  // DASHBOARD - Subject List
  .wg_dashboard_subject_list {
    .panel {
      .panel-body {
        position: relative;
        min-height: 200px;

        .wg_subject_test_reload_button {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0;
        }

        .wg_subject_test_text {
          color: $text-color;
          font-size: 16px;

          @media (min-width: $media-md) {
            font-size: 14px;
          }

          @media (min-width: $media-lg) {
            font-size: 16px;
          }
        }

        .wg_subject_test_score {
          color: $white-color;
          font-size: 14px;
          font-weight: 600;
          height: 25px;
          width: 50px;
          border-radius: 10px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          &.green {
            background: $score-green-color;
          }

          &.red {
            background: $score-red-color;
          }

          &.amber {
            background: $score-amber-color;
          }

          &.black {
            background: $score-black-color;
          }
        }
      }
    }
  }

  // TEST PROPER
  .wg_test_proper {
    .wg_topic_name {
      color: $text-color;
      font-weight: normal;
    }

    .wg_question_numbers button.btn {
      height: 35px;
      width: 35px;
      padding: 0;
    }

    .wg_question_row {
      display: flex;

      & > div:first-child {
        border-right: 1px solid $secondary-color;
      }

      label.wg_question_choice {
        cursor: pointer;
      }
    }
  }

  // ACCOUNT SIDEBAR
  .wg_account_sidebar {
    li {
      padding: 0;

      a {
        display: block;
        color: $text-color;
        padding: 10px 15px;

        &:hover,
        &:active,
        &:focus {
          color: $primary-color;
        }
      }

      &.active {
        background: none;
        border: 1px solid $border-color;

        a {
          font-weight: bold;
          color: $primary-color;
        }
      }
    }
  }
}